/* SELECTEURS GLOBAUX */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 170vh;
}


/* NAVBAR */

.navbar {}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 0.6em;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.main-menu ul li {
    list-style: none;
}

.main-menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}



/* HERO SECTION */

.hero {}

.hero .container h1 {
    color: #FFF;
}




/* PRODUCT GALERY  */

.products-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.product-img {
    height: 10em;
}

.row-striped:nth-of-type(odd) {
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}





/* CLASSES UTILITAIRES */

.container-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 2em auto;
}

.container-md {
    border: 1px solid rebeccapurple;
    height: 50vh;
}


/* Connexion  */

.container-md {
    width: 100%;
    overflow: auto;
}

.hero-content {
    width: 50%;
    float: left;
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.submit {
    background-color: #78AA48;
    color: #fff !important;
    border: none;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 4px 25px;
    font-family: "Open Sans", sans-serif;
    transition: all ease 0.5s;
    outline: none;
    min-height: 32px;
}

.submit:hover {
    color: #fff;
    background-color: #E45C0E;
}

/* Footer  */


footer {
    background-color: #78AA48;
    color: white;
    padding: 30px 0;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    padding: 20px;
}

footer h2 {
    color: white;
    margin-bottom: 20px;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer p {
    margin-bottom: 10px;
}

footer hr {
    border-color: white;
    margin-bottom: 20px;
}