/* SELECTEURS GLOBAUX */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* NAVBAR */

.navbar {}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 0.6em;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    color: black;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.main-menu ul li {
    list-style: none;
}

.main-menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}



/* HERO SECTION */

.hero {}

.hero .container h1 {
    color: #FFF;
}



/* PRODUCT GALERY */

.products-galery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    height: 15vh;
    margin-top: 2vh;
    padding-top: 1vh;
    font-size: 5vh;
}

.product-img {
    text-align: center;
}


.products-galery .product-img {
    height: 20vh;
}

.product-content {
    text-align: center;
    font-size: 3vh;
    width: 64vh;
    color: #E45C0E;

}

.text-maj {
    text-align: center;
    font-size: 2vh;
}

.product-item {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 65vh;
    border-radius: 10px;
    box-shadow: -webkit-box-shadow: 2px 0px 18px -3px #6E6E6E;
    box-shadow: 2px 0px 18px -3px #6E6E6E;
    ;
}


/* FICHE PRODUIT */

.product {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}

.img-fiche-produit {
    height: 15em;
}

.contact-grower {
    margin-right: auto;
}


/* CATALOGUE  */

.products-catalogue {

    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;

}

.product-img img {
    height: 20vh;

}


/* CLASSES UTILITAIRES */

.container-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 2em auto;
    border: 1px solid blue;
}

.container-md {
    border: 1px solid red;
    width: 100%;
    overflow: auto;
}


/* LOGIN/REGISTER  */

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.submit {
    background-color: #78AA48;
    color: #fff !important;
    border: none;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 4px 25px;
    font-family: "Open Sans", sans-serif;
    transition: all ease 0.5s;
    outline: none;
    min-height: 32px;
}

.submit:hover {
    color: #fff;
    background-color: #E45C0E;
}

/* Footer  */


footer {
    background-color: #78AA48;
    color: white;
    width: 100%;
    position: absolute;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    padding: 20px;
}

footer h2 {
    color: white;
    margin-bottom: 20px;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer p {
    margin-bottom: 10px;
}

footer hr {
    border-color: white;
    margin-bottom: 20px;
}